@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400|Rubik:400,700');

body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto Mono', monospace;
}
.fade-enter {
	opacity: 0;
	z-index: 1;
}

.fade-enter.fade-enter-active {
	opacity: 1;
	transition: opacity 600ms ease-in;
}
